In [1]:
import os
import pandas as pd

directory = 'C://Users/EvaNg/Downloads/crime_data'

# Initialize an empty DataFrame to store concatenated data
combined_data = pd.DataFrame()

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith("data_sa_crime.csv"):
        # Extract year from filename
        year = filename[:4]
        
        # Read CSV file into a DataFrame
        filepath = os.path.join(directory, filename)
        data = pd.read_csv(filepath)
        
        # Concatenate data to the combined DataFrame
        combined_data = pd.concat([combined_data, data], ignore_index=True)

In [2]:
combined_data['Reported Date'] = pd.to_datetime(combined_data['Reported Date'], format='%d/%m/%Y')

In [3]:
combined_data_sorted = combined_data.reset_index(drop=True)[::-1]

In [4]:
combined_data_sorted.head(5)

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
1027939,2023-06-30,NaN,NaN,OFFENCES AGAINST THE PERSON,OTHER OFFENCES AGAINST THE PERSON,"Abduction, harassment and other offences",1.0
1027938,2023-06-30,NaN,NaN,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1.0
1027937,2023-06-30,WYNN VALE,5127,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault resulting in injury,1.0
1027936,2023-06-30,WOODVILLE SOUTH,5011,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Common Assault,1.0
1027935,2023-06-30,WOODVILLE SOUTH,5011,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1.0

In [9]:
# Assuming df is your DataFrame
null_stats = combined_data_sorted.isnull().sum()

# Create a DataFrame to display null value counts for each column
null_table = pd.DataFrame({
    'Column Name': null_stats.index,
    'Null Count': null_stats.values
})
print(null_table)

                   Column Name  Null Count
0                Reported Date           9
1            Suburb - Incident        2830
2          Postcode - Incident        4663
3  Offence Level 1 Description           9
4  Offence Level 2 Description           9
5  Offence Level 3 Description           9
6                Offence count           9

In [11]:
# Calculate the percentage of null values
null_percentage = (combined_data_sorted.isnull().sum() / len(combined_data_sorted)) * 100

print(null_percentage)

Reported Date                  0.000876
Suburb - Incident              0.275308
Postcode - Incident            0.453626
Offence Level 1 Description    0.000876
Offence Level 2 Description    0.000876
Offence Level 3 Description    0.000876
Offence count                  0.000876
dtype: float64

In [12]:
cleaned_df = combined_data_sorted.dropna(how='all')
null_stats = cleaned_df.isnull().sum()
print(null_stats)

Reported Date                     0
Suburb - Incident              2821
Postcode - Incident            4654
Offence Level 1 Description       0
Offence Level 2 Description       0
Offence Level 3 Description       0
Offence count                     0
dtype: int64

In [13]:
# Save the combined DataFrame to a new CSV file
cleaned_df.to_csv('cleaned_combined_crime_data.csv', index=False)